@import url("https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,1,300&f[]=montserrat@500,1,900,700,701,801,200,401,301,400,601,100,101,2,201,800,300,600,501&display=swap"); 

@tailwind base;
@tailwind components;
@tailwind utilities;



body, html{
    font-weight: 400;
    /* background-color:; */
    font-family: 'Montserrat', sans-serif; 
    font-size: 14px;
}
